extends layout

block content
  .row
    .span8
      h2.blog-heading From the blog:
      
      each post in bloggerPosts
        h3.post-title= post.title
        .post-info
          h4.published-info= post.postDate
          a.btn.btn-info.btn-large.read-it-button(href=post.linkUrl, target='_blank') Read It!
          .post-main-content
            div !{post.mainContent}
            
            p.post-footer
              | Read the original and comment over on 
              a(target='_blank', href=post.linkUrl) blogger.
            
    .span4
      h2.blog-heading Tumblr is for linking:
      
      each post in tumbrlPosts
        .tumblr-link
          h4= post.title
          a(href=post.linkUrl, target='_blank')= post.linkUrl
          .tumblr-description
            p !{post.mainContent}