extends layout

block content
  .row
    .span8
      h2.blog-heading Sometimes I write stuff:
      
      each post in mainPosts
        h3.post-title= post.title
        .post-info
          h4.published-info= post.postDate
          a.btn.btn-info.btn-large.read-it-button(href="/article/" + post.permaLink, target='_blank') Read It!
          .post-main-content
            div !{post.mainContent}
            
            p.post-footer
              | Read the original and comment 
              a(target='_blank', href=post.linkUrl) here.
            
    .span4
      h2.blog-heading Snazzy dev links:
      
      each post in tumbrlPosts
        .tumblr-link
          h4= post.title
          a(href=post.linkUrl, target='_blank')= post.linkUrl
          .tumblr-description
            p !{post.mainContent}